body{
    background-color: #ffd4cd;
}

.boton1{
    width: 170px;
    position: absolute;
    top: 450px;
}
.boton2{
    width: 170px;
    position: absolute;
    top: 450px;
    right: 2em;
    right: 10px;
}
